.react-aria-DisclosurePanel {
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.react-aria-Disclosure[data-expanded] .react-aria-DisclosurePanel {
    opacity: 1;
}

.react-aria-Button[slot="trigger"] svg {
    transition: rotate 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.react-aria-Disclosure[data-expanded] .react-aria-Button[slot="trigger"] svg {
    rotate: 90deg;
}
