@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}
@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.accordion-content {
    animation:
        slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1),
        fadeOut 300ms cubic-bezier(0.87, 0, 0.13, 1);
    opacity: 0;
}

.accordion-content[data-state="open"] {
    animation:
        slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1),
        fadeIn 300ms cubic-bezier(0.87, 0, 0.13, 1);
    opacity: 1;
}

.accordion-content > :first-child {
    padding-top: 1.5rem;
}

.accordion-icon {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-trigger[data-state="open"] > .accordion-icon {
    transform: rotate(90deg);
}

.noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: url(/noise.webp);
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.noise-container::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: -50%;
    bottom: 10%;
    width: 150%;
    left: -50%;
    background:
        url(/noise.webp) repeat,
        linear-gradient(83.21deg, #f59f0b 0%, #dc2626 100%);
    background-blend-mode: color-burn;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 50%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 50%);
}

.noise-container {
    position: relative;
    isolation: isolate;
    background-color: #f9ecdf;
}

::selection {
    @apply bg-amber-500 text-white dark:bg-purple-600;
}

@media (prefers-color-scheme: dark) {
    .noise-container {
        background-color: #17191e;
    }

    .noise-container::before {
        background:
            url(/noise.webp) repeat,
            linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        background-blend-mode: overlay;
    }
}

@font-face {
    font-family: "Roslindale Display";
    src: url("/fonts/Roslindale-DisplayCondensedBold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roslindale Display";
    src: url("/fonts/Roslindale-DisplayCondensedBoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roslindale Text";
    src: url("/fonts/Roslindale-TextBold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roslindale Text";
    src: url("/fonts/Roslindale-TextBoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roslindale Text";
    src: url("/fonts/Roslindale-TextItalic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roslindale Text";
    src: url("/fonts/Roslindale-TextRegular.woff2");
    font-weight: normal;
    font-style: normal;
}
