@import "./tailwind.css";
@import "./fonts.css";
@import "./accordion.css";

.noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: url(/noise.webp);
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.noise-container::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: -50%;
    bottom: 10%;
    width: 150%;
    left: -50%;
    background:
        url(/noise.webp) repeat,
        linear-gradient(83.21deg, #f59f0b 0%, #dc2626 100%);
    background-blend-mode: color-burn;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 50%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 50%);
}

.noise-container {
    position: relative;
    isolation: isolate;
    background-color: #f9ecdf;
}

::selection {
    background-color: theme("colors.amber.500");
    color: theme("colors.white");
}

aside p {
    color: theme("colors.orange.950");
    background-color: theme("colors.orange.100");
    border-radius: 0.75rem;
    border: 2px solid theme("colors.orange.950");
    padding: 0.75rem;
}

aside {
    padding: 1rem 0.5rem 0rem 0.5rem;
}

p a {
    color: theme("colors.amber.600");
}

p a:hover {
    color: theme("colors.amber.700");
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    .noise-container {
        background-color: #17191e;
    }

    .noise-container::before {
        background:
            url(/noise.webp) repeat,
            linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        background-blend-mode: overlay;
    }

    ::selection {
        background-color: theme("colors.purple.600");
    }

    aside p {
        color: theme("colors.purple.200");
        background-color: theme("colors.purple.950");
        border: 2px solid black;
    }

    p a {
        color: theme("colors.purple.500");
    }

    p a:hover {
        color: theme("colors.purple.600");
    }
}
