---
import Star from "../Star.astro"
import Token from "../Token.astro"

const starRange = [1, 2, 3]

let query = Astro.url.searchParams.get("stars")
let stars = query ? parseInt(query!) : null
---

<div class="flex flex-col gap-6">
    <a
        class:list={[
            "font-serif-text text-xl hover:opacity-100 pl-11",
            stars === 0 ? "opacity-100" : "opacity-50",
        ]}
        href="/?stars=0"
    >
        No Stars
    </a>

    {
        starRange.map(num => (
            <a
                class:list={[
                    "flex items-center gap-2 hover:opacity-100 pl-11",
                    stars === num ? "opacity-100" : "opacity-50",
                ]}
                href={`/?stars=${num}`}
            >
                {Array(num)
                    .fill(num)
                    .map(() => (
                        <Star filled={stars === num} />
                    ))}
            </a>
        ))
    }
    <div class="pl-11">
        <Token tag={{ name: "Clear", link: "/" }} target="_self" />
    </div>
</div>
