---
import Icon from "heroicons-astro/Heroicon.astro"
---

<span class="accordion-icon flex items-center">
    <Icon customClasses="h-5 w-5" iconCode="chevron-right" iconStyle="outline" />
</span>
<span class="text-xl font-medium font-serif-text text-gray-900 dark:text-gray-50">Stars</span>
